[submodule "submodule-3.1"]
	path = submodule-3.1
	url = https://github.com/devireddyprasanth22/submodule-3.1.git
[submodule "submodule-3.2"]
	path = submodule-3.2
	url = https://github.com/devireddyprasanth22/submodule-3.2.git
